/* ------------------
        fonts
-------------------- */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


/* -----------------------
    common utilities
------------------------ */

body {
    margin: 0;
}

.watch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    border: 0;
    transform: scale(1);
    transition: transform 0.4s ease-in-out 0.05s;
}

.watch-button:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out 0.05s;
}

.watch-button .button-arrow {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out 0.05s;
}

.watch-button:hover .button-arrow {
    transform: translateX(8px);
    transition: transform 0.4s ease-in-out 0.05s;
}

.button-link {
    text-decoration: none;
}

/* ---------------------------------
        hero section styles
----------------------------------- */

.hero-container {
    background-color: #2D25A0;
    padding: 135px 0 86px 0;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/Slice-1.svg);
}

.hero-info {
    display: flex;
    flex-direction: column;
    margin: 0 102px 0 0;
}

.hero-info .hero-title {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    width: 485px;
    height: 235px;
}

.hero-img img {
    width: 556.01px;
    height: 438px;
    transform: scale(1) rotate(0);
    transition: transform 0.4s ease-in-out 0.05s;
}

.hero-img img:hover {
    transform: scale(1.1) rotate(15deg);
    transition: transform 0.4s ease-in-out 0.05s;
}


/* -------------------------
        blogs styles
-------------------------- */

.blogs-container {
    margin: 70px 0 165px 0;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    row-gap: 27px;
    column-gap: 30px;
    justify-content: center;
}

.blog {
    width: 300px;
    height: 426px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
}

.blog-thumbnail {
    overflow: hidden;
}

.blog-thumbnail img {
    width: 300px;
    height: 256px;
    transform: scale(1) rotate(0);
    transition: transform 0.6s ease-in-out 0.05s;
}

.blog:hover .blog-thumbnail img {
    transform: scale(1.3) rotate(11deg);
    transition: transform 0.6s ease-in-out 0.05s;
}

.blog h2 {
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin: 16px 0 0 0;
}

.blog p {
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

/* ------------------------------------------
        watch match section styles
------------------------------------------- */

.watch-match-container {
    margin: 0 0 158px 0;
}

.watch-match {
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-match-info {
    width: 466px;
    height: 309px;
    margin: 0 69px 0 0;
}

.watch-match-info h1 {
    font-family: 'Poppins', sans-serif;
    color: #0A0826;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.watch-match-info p {
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.watch-match-info h1,
p {
    display: inline-block;
}

.watch-match-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watch-match-img img {
    width: 567px;
    height: 467px;
}


/* ------------------------------------------
        upcoming matches section
------------------------------------------- */


.upcoming-matches-container {
    margin: 0 0 200px 50px;
}

.upcoming-matches-container h1 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.match-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 25px;
}

.match-cards a {
    text-decoration: none;
}

.match-card {
    /* position: relative; */
    width: 300px;
    padding: 23px 35px 15px 35px;
    height: 150px;
    /* border: 1px solid red; */
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px #00000020;
}

/* .match-card:hover .match-name-live h4,
.match-name-live span,
.match-schedule p,
.club-1 p,
.club-2 p {
    color: #FFFFFF;
} */

/* .match-card:hover .match-card p,
.match-card span,
.match-card h4 {
    color: white;
} */

.match-card:hover {
    background-color: #222232;
}

.match-card:hover .match-name-live h4 {
    color: #FFFFFF;
}

.match-card:hover .clubs-schedule p {
    color: #FFFFFF;
}

.match-name-live {
    /* position: absolute;
    top: 5px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.match-name-live h4 {
    color: #0A0826;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
}

.match-name-live span {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    background-color: rgb(255, 63, 88);
    border-radius: 30px;
    padding: 4px 20px 4px 20px;
    margin: 0 2px 0 0;
}

.clubs-schedule {
    /* position: absolute;
    top: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clubs-schedule .match-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -15px 0 0 0;
}

.clubs-schedule .match-schedule p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.clubs-schedule .match-schedule .match-date {
    color: brown;
}

.club-1,
.club-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-card .club-1 img,
.club-2 img {
    width: 70px;
    height: 70px;
}

.match-card .club-1 p,
.club-2 p {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 10px 0 0 0;
}